@using Warehouse.Models
@model Product;

@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<h2 class="text-center">@Model.Name</h2>

<div class="lg-12 row">
    <div class="col-lg-7">
        @await Html.PartialAsync("_CarouselPartial", Model.Pictures)
    </div>
    <div class="col-lg-5">
        <h2>@Model.Price руб</h2>
        <p>@Model.Description</p>

        <ul>
            <li>На складе @Model.CountInStock @Model.Unit</li>
            <li>Срок хранения @(Model.ShelfLife != int.MaxValue ? @Model.ShelfLife + "дней" : "неограничен")</li>
            <li>Страна происхождения @Model.ManufactureCountry</li>
            <li>Вес @(@Model.Weight > 0.9 ? @Model.Weight + " кг" : @Model.Weight * 1000 + " г")</li>
        </ul>
        <div class="row">
            <button class="btn-primary" style="margin-right: 10px">Заказать</button>
            <button class="btn-primary">Добавить в корзину</button>
        </div>
    </div>
</div>
