@using Warehouse.ViewModels
@model ProductViewModel;

@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<h2 class="text-center">@Model.Name</h2>

<div class="lg-12 row">
    <div class="col-lg-7">
        @await Html.PartialAsync("_CarouselPartial", Model.Pictures)
    </div>
    <div class="col-lg-5">
        <h2>@Model.Price</h2>
        <p>@Model.Description</p>

        <ul>
            <li>На складе: @Model.GetCountString()</li>
            <li>Срок хранения: @Model.GetShelfLifeString()</li>
            <li>Страна происхождения: @Model.ManufactureCountry</li>
            <li>Вес: @Model.GetWeightString()</li>
        </ul>
        <div class="row">
            @Html.ActionLink("Заказать","Create", "Orders", new {ids = Model.Id }, new {@class = "btn btn-primary btn-md active" })
            <a class="btn btn-primary btn-md active"  style="margin-left: 10px">Добавить в корзину</a>
        </div>
    </div>
</div>
