@using Warehouse.Models;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<style>
    .card-text {
        margin-bottom: 3px;
    }

    .card-title {
        font-weight: bold;
    }

    .card {
        max-width: 768px;
        margin-bottom: 10px;
    }

    .red-higlight {
        color: orangered;
    }
</style>

<div class="md-form active-cyan-2 mb-3 lg-12" style="max-width: 768px">
    <input class="form-control" type="text" placeholder="Искать" aria-label="Искать">
</div>

@foreach (Product p in Model)
{
    <div class="card lg-12">
        <div class="row no-gutters">
            <div class="col-lg-2">
                <img src="@p?.Pictures.FirstOrDefault()" class="card-img" alt="...">
            </div>
            <div class="col-lg-9">
                <div class="card-body">
                    <h6 class="card-title"><a asp-action="Details" asp-route-id="@p.ProductId">@p.Name</a></h6>
                    <p class="card-text" style="        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;">@p.Description</p>
                </div>
            </div>
            <div class="col-sm-1">
                <h6><b>@p.Price Руб</b></h6>
                <h6 class="text-muted">@p.ManufactureCountry</h6>
                <h6 class=" @(@p.CountInStock < 12? "red-higlight": "text-muted" ) ">@p.CountInStock @p?.Unit</h6>
            </div>
        </div>
    </div>

}
