@using Warehouse.ViewModels;
@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h3>Вы доставляете</h3>


@foreach (var o in Model)
{
    <div class="card margin-bottom-15px">
        <a asp-action="Details" asp-route-id="@o.Id" class="card-title" style="margin-left:30px;">Заказ №@o.Id <small class="text-muted">@o.OrderDate.ToString("HH:mm dd MMMM yyyy")</small></a>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    @foreach (var orderItem in o.Items)
                    {
                        <div class="card card-secondary lg-12">
                            <div class="row no-gutters">
                                <div class="col-lg-2">
                                    <img src="@orderItem.Product.Pictures.FirstOrDefault()" class="card-img" alt="...">
                                </div>
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <h6 class="card-title"><a asp-controller="Products" asp-action="Details" asp-route-id="@orderItem.Product.Id">@orderItem.Product.Name</a></h6>
                                        <p class="card-text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@orderItem.Product.Description</p>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <h6><b>@orderItem.Price</b></h6>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <div class="col-auto">
                    <p>Итоговая стоимость: <b>@o.TotalPrice</b></p>
                    <div class="card">
                        <div class="text-center">
                            <div class="card-title">Состояние заказа:</div>
                            <p class="card-text">@o.OrderStatuses?.First()?.OrderStatus?.OrderStatusString</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
